<div class="container">
  <h1>Add Food Item</h1>
  <div class="card">
      <div class="card-body">
          <div class="form-group">
              <input class="form-control" type="text" [(ngModel)]="name" placeholder="Food Name">
          </div>
          <div class="form-group">
              <input class="form-control" type="text" [(ngModel)]="description"
                  placeholder="Food Description">
          </div>
          <div class="form-group">
              <input class="form-control" type="text" [(ngModel)]="picture" placeholder="Food Picture URL">
          </div>
          <div class="form-group">
              <button class="btn btn-primary" (click)="add()">Add Food Item</button>
          </div>
      </div>
  </div>
</div>
