/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
}
.content {
    min-height: 100%;
    margin-bottom: -50px;
}
.push {
    height: 50px;
}
/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(255, 60, 0) !important;
    border-color: #fd7e14 !important;
} */